<mat-toolbar class="mat-elevation-z4 header">
    <ng-content></ng-content>
    <a [routerLink]="[ '/' ]"><h1>Dragosia</h1></a>
    <form (submit)="search()" [formGroup]="searchForm">
        <mat-form-field>
            <input matInput formControlName="q" type="search" i18n-placeholder placeholder="Search..."/>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button i18n>Go</button>
    </form>
    <a mat-icon-button class="search" [routerLink]="[ '/search' ]"><mat-icon>search</mat-icon></a>
    <a mat-flat-button class="get-started" color="accent" i18n [routerLink]="[ '/rules', 'los-gehts' ]">Get started</a>
    <a mat-icon-button *ngIf="!(firebaseAuth.user | async)" class="login" [routerLink]="[ '/login' ]"><mat-icon>perm_identity</mat-icon></a>
    <a mat-icon-button *ngIf="firebaseAuth.user | async" class="logout" (click)="logout()"><mat-icon>exit_to_app</mat-icon></a>
</mat-toolbar>
