<mat-toolbar class="mat-elevation-z4 header">
    <a *ngIf="displayBackButton | async" mat-icon-button [routerLink]="[ '/r' ]"><mat-icon>arrow_back</mat-icon></a>
    <form (submit)="search()">
        <mat-form-field>
            <input matInput [formControl]="searchControl" type="search" i18n-placeholder placeholder="Search..." />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button i18n>Go</button>
    </form>
    <a mat-flat-button color="accent" i18n>Get started</a>
</mat-toolbar>

<div class="content">
    <mat-card>
        <mat-card-content>
            <markdown [src]="markdownUrl | async" (load)="onMarkdownDocumentLoad($event)" (click)="onMarkdownDocumentClick($event)"></markdown>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="index.length > 1 || (index.length > 0 && index[0].children.length > 0)">
        <mat-card-content>
            <ng-container *ngTemplateOutlet="indexList; context: { $implicit: index }"></ng-container>
        </mat-card-content>
    </mat-card>
</div>

<mat-toolbar class="mat-elevation-z8 footer">
    <nav>
        <a href="https://github.com/draconisnoctis/dragosia" class="mat-small" target="_blank" i18n>Dragosia @ Github</a>
    </nav>
</mat-toolbar>

<ng-template #indexList let-entries>
    <ng-container *ngIf="entries.length">
        <ul>
            <li *ngFor="let entry of entries">
                <a [routerLink]="[ '.' ]" [fragment]="entry.id">{{ entry.name }}</a>
                <ng-container *ngTemplateOutlet="indexList; context: { $implicit: entry.children }"></ng-container>
            </li>
        </ul>
    </ng-container>
</ng-template>
