@import "../../../../theme";

.dw-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('/assets/images/background.jpg');
        background-size: cover;
        z-index: -1;
        opacity: .05;
        filter: blur(2px) grayscale(100%);
    }

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        max-width: 1024px;
        padding: 24px 8px;
        box-sizing: border-box;
        margin: 0 auto;

        @media screen and (max-width: 800px) {
            flex-direction: column-reverse;
            align-items: stretch;
            justify-content: flex-end;
        }

        .mat-card {
            &:nth-child(1) {
                flex-grow: 1;

                @media screen and (max-width: 800px) {
                    flex-grow: 0;
                }

                h1, h2, h3 {
                    font-family: 'Jim Nightshade';
                    font-weight: 100;
                    margin-top: 0;
                }

                code {
                    display: inline-block;
                    border: 1px solid mat-color(map-get($dragosia-theme, primary));
                    border-radius: 2px;
                    padding: 2px 4px;
                    background: rgba(mat-color(map-get($dragosia-theme, primary)), .1);
                }

                pre > code {
                    display: block;
                    padding: 8px;
                }

                blockquote {
                    background: rgba(mat-color(map-get($dragosia-theme, primary), lighter), .1);
                    border-left: 4px solid mat-color(map-get($dragosia-theme, primary));
                    margin: 1em 0;
                    padding: 8px 8px 8px 24px;
                }

                table {
                    border-collapse: collapse;

                    th {
                        background: rgba(mat-color(map-get($dragosia-theme, primary)), .2);
                        font-weight: bold;
                    }

                    th, td {
                        text-align: left;
                        padding: 4px 8px;
                        border: 1px solid mat-color(map-get($dragosia-theme, primary));

                        &[align="center"] {
                            text-align: center;
                        }
                        &[align="right"] {
                            text-align: right;
                        }
                    }

                    tr:hover {
                        td {
                            background: rgba(mat-color(map-get($dragosia-theme, primary), lighter), .2);
                        }
                    }
                }
            }

            &:nth-child(2) {
                position: sticky;
                top: 88px;
                margin-left: 8px;
                width: 250px;
                box-sizing: border-box;

                @media screen and (max-width: 800px) {
                    position: static;
                    margin-left: 0;
                    width: auto;
                    margin-bottom: 8px;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                    }

                    ul {
                        padding-left: 1em;
                    }
                }
            }
        }
    }
}
