.cs-settings {
    display: block;

    .mat-form-field {
        display: block;
    }

    .hidden {
        display: none;
    }

    .attributes, .gifts, .talents {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        label {
            min-width: 120px;
        }

        .mat-form-field {
            flex-grow: 1;

            &:not(:last-child) {
                margin-right: 8px;
            }

            &-infix {
                width: auto;
            }
        }
    }
}
