<form [formGroup]="form">
    <mat-form-field>
        <mat-select
            i18n-placeholder
            placeholder="Preset"
            formControlName="preset"
        >
            <mat-option *ngFor="let preset of presets" [value]="preset.id">{{ preset.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select
            i18n-placeholder
            placeholder="Budget"
            formControlName="budget"
        >
            <mat-option value="beginner" i18n>Beginner</mat-option>
            <mat-option value="normal" i18n>Normal</mat-option>
            <mat-option value="hero" i18n>Hero</mat-option>
            <mat-option value="legend" i18n>Legend</mat-option>
            <mat-option value="custom" i18n>Custom</mat-option>
        </mat-select>
    </mat-form-field>

    <ng-container formGroupName="points">

        <mat-form-field>
            <input
                matInput
                type="number"
                min="1"
                max="10000"
                formControlName="points"
                i18n-placeholder
                placeholder="Points"
            />
        </mat-form-field>

        <div class="attributes" formGroupName="attributes">
            <label i18n>Attributes</label>
            <mat-form-field>
                <input
                    matInput
                    type="number"
                    min="1"
                    max="100"
                    formControlName="min"
                    i18n-placeholder
                    placeholder="Min Points Spend"
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    type="number"
                    min="1"
                    max="100"
                    formControlName="max"
                    i18n-placeholder
                    placeholder="Max per Attribute"
                />
            </mat-form-field>
        </div>

        <div class="skills" formGroupName="skills">
            <label i18n>Skills</label>
            <mat-form-field>
                <input
                    matInput
                    type="number"
                    min="1"
                    max="100"
                    formControlName="min"
                    i18n-placeholder
                    placeholder="Min Points Spend"
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    type="number"
                    min="1"
                    max="100"
                    formControlName="max"
                    i18n-placeholder
                    placeholder="Max per Skill"
                />
            </mat-form-field>
        </div>

        <div class="talents" formGroupName="talents">
            <label i18n>Talents</label>
            <mat-form-field>
                <input
                    matInput
                    type="number"
                    min="1"
                    max="100"
                    formControlName="min"
                    i18n-placeholder
                    placeholder="Min Points Spend"
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    type="number"
                    min="1"
                    max="100"
                    formControlName="max"
                    i18n-placeholder
                    placeholder="Max per Talent"
                />
            </mat-form-field>
        </div>

    </ng-container>
    <button #submit class="hidden"></button>
</form>
