<dw-website-header>
    <a *ngIf="displayBackButton | async" mat-icon-button [routerLink]="[ '..' ]"><mat-icon>arrow_back</mat-icon></a>
</dw-website-header>

<div class="content">
    <mat-card>
        <mat-card-content>
            <jui-markdown [src]="markdownUrl | async" (parsed)="onMarkdownDocumentParsed($event)" (error)="onError()"></jui-markdown>
            <!--<jui-markdown juiMarkdown="> [Güte] = [Erfolge] - [Probenschwierigkeit] + 1"></jui-markdown>-->
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="index.length > 0 && index[0].children.length > 0">
        <mat-card-content>
            <ng-container *ngTemplateOutlet="indexList; context: { $implicit: index[0].children }"></ng-container>
        </mat-card-content>
    </mat-card>
</div>

<dw-website-footer></dw-website-footer>

<ng-template #indexList let-entries>
    <ng-container *ngIf="entries.length">
        <ul>
            <li *ngFor="let entry of entries">
                <a [routerLink]="[ '.' ]" [fragment]="entry.id">{{ entry.name }}</a>
                <ng-container *ngTemplateOutlet="indexList; context: { $implicit: entry.children }"></ng-container>
            </li>
        </ul>
    </ng-container>
</ng-template>
