@import '~@angular/material/theming';
@import "theme";

@import url("https://unpkg.com/normalize.css@5.0.0/normalize.css");
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

@include angular-material-theme($dragosia-theme);


:root {
    --content-background-color: white;
    --border-color: #666;
    --text-color: #333;
    --font-family: Roboto;
    font-size: 62.5%;
}

body {
    background: map-get(map-get($dragosia-theme, background), background);
}

a {
    color: mat-color(map-get($dragosia-theme, accent));
    text-decoration: none;

    &:hover {
        color: mat-color(map-get($dragosia-theme, accent), lighter);
    }
}


.ancient {
    font-family: 'Jim Nightshade';
    font-weight: 100;
}


.ancient {
    font-family: 'Jim Nightshade';
    font-weight: 100;
    @include mat-core(
            mat-typography-config(
                $font-family: 'Jim Nightshade'
            )
    );

    .js-sheet .jui-page {
        position: relative;
        background: none;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: white;
            z-index: -2;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            background: white url("/assets/images/background.jpg") no-repeat center/100%;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: .5;
            filter: saturate(70%);
        }
    }
}
