@import "../../../../theme";

.dw-search {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('/assets/images/background.jpg');
        background-size: cover;
        z-index: 0;
        opacity: .05;
        filter: blur(2px) grayscale(100%);
    }

    > * {
        z-index: 1;
    }

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        max-width: 1024px;
        padding: 24px 8px;
        box-sizing: border-box;
        margin: 0 auto;

        a:not(:last-child) {
            margin-bottom: 16px;
        }

        .mat-card-title {
            color: mat-color(map-get($dragosia-theme, primary));
        }
        .mat-card-subtitle {
            color: mat-color(map-get($dragosia-theme, accent));
        }

        .mat-card-header-text {
            margin: 0;
        }
    }

    .dw-website-header {
        form {
            display: block;
            margin: 0 auto;
        }

        .search {
            display: none;
        }

        @media screen and (max-width: 800px) {
            h1 {
                display: none;
            }
            .get-started {
                display: none;
            }
        }
    }
}
