<dw-website-header [query]="query | async"></dw-website-header>

<div class="content">
    <a *ngFor="let res of result | async" [routerLink]="res.routerLink">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ res.title }}</mat-card-title>
                <mat-card-subtitle>{{ res.link }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{ res.text }}</mat-card-content>
        </mat-card>
    </a>
</div>

<dw-website-footer></dw-website-footer>
