.cs-background {
    display: block;

    .mat-form-field {
        display: block;
    }

    .mat-checkbox {
        display: flex;
        justify-content: flex-end;
    }

    .hidden {
        display: none;
    }
}
