<form [formGroup]="form">
    <mat-form-field>
        <input matInput formControlName="name" i18n-placeholder placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
        <mat-select
            i18n-placeholder
            placeholder="Race"
            formControlName="race"
        >
            <mat-option *ngFor="let race of races" [value]="race.name">{{ race.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select
            i18n-placeholder
            placeholder="Culture"
            formControlName="culture"
        >
            <mat-option *ngFor="let culture of cultures" [value]="culture.name">{{ culture.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select
            i18n-placeholder
            placeholder="Profession"
            formControlName="profession"
        >
            <mat-option *ngFor="let profession of professions" [value]="profession.name">{{ profession.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <button #submit class="hidden"></button>
</form>
