<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" [selectedIndex]="stepperIndex" (selectionChange)="stepperChange($event)">
    <mat-step [stepControl]="settingsControl" [editable]="true">
        <ng-template matStepLabel i18n>Settings</ng-template>
        <ng-container *ngIf="stepperIndex >= 0">
            <cs-settings #settings="csSettings" [formControl]="settingsControl"></cs-settings>

            <div class="sub">
                <button mat-button matStepperNext (click)="settings.submit()" i18n>Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="backgroundControl" [editable]="true">
        <ng-template matStepLabel i18n>Background</ng-template>
        <ng-container *ngIf="stepperIndex >= 1">
            <cs-background #background="csBackground" [formControl]="backgroundControl" [preset]="settingsControl.value?.preset" (next)="nextAfterBackground()"></cs-background>

            <div class="sub">
                <button mat-button matStepperPrevious i18n>Previous</button>
                <button mat-button matStepperNext (click)="background.submit()" i18n>Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="selectionsControl" [editable]="true">
        <ng-template matStepLabel i18n>Selections</ng-template>
        <ng-container *ngIf="stepperIndex >= 2">
            <cs-selection #selection="csSelection" [formControl]="selectionsControl" [steps]="selections"></cs-selection>

            <div class="sub">
                <button mat-button matStepperPrevious i18n>Previous</button>
                <button mat-button matStepperNext (click)="selection.submit()" i18n>Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="attributesControl" [editable]="true">
        <ng-template matStepLabel i18n>Attributes</ng-template>
        <ng-container *ngIf="stepperIndex >= 3">
            <header class="step-header">
                <span>{{ character?.about?.name }}</span>

                <span>{{ spend }}/{{ character?.meta?.exp?.total}}</span>
            </header>

            <js-attributes [formControl]="attributesControl" [max]="character?.meta?.points?.attributes?.max" [budget]="character?.meta?.exp?.total - spend"></js-attributes>

            <div class="sub">
                <button mat-button matStepperPrevious i18n>Previous</button>

                <span [class.valid]="spendForAttributes > character?.meta?.points?.attributes?.min"
                      [class.invalid]="spendForAttributes <= character?.meta?.points?.attributes?.min"><sup>{{ spendForAttributes }}</sup>/<sub i18n>min {{ character?.meta?.points?.attributes?.min }}</sub></span>
                <!--<span class="points-available" i18n>Available: {{ budget?.meta?.exp?.total }}</span>
                <span>Spend: {{ spend }}</span>
                <span>Spend for Attributes: {{ spendForAttributes }}</span>-->

                <button mat-button matStepperNext i18n [disabled]="attributesControl.invalid">Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="skillsGiftsControl" [formGroup]="skillsGiftsControl" [editable]="true">
        <ng-template matStepLabel i18n>Skills &amp; Gifts</ng-template>
        <ng-container *ngIf="budget && stepperIndex >= 4">
            <h2 i18n>Skills</h2>
            <js-skills [factor]="1" formControlName="skills" [(pointsAvailable)]="budget.skills"></js-skills>
            <h2 i18n>Gifts</h2>
            <js-gifts [factor]="1" formControlName="gifts" [preset]="settingsControl.value?.preset" [(pointsAvailable)]="budget.skills"></js-gifts>

            <div class="sub">
                <button mat-button matStepperPrevious i18n>Previous</button>

                <span class="points-available" i18n>Available: {{ budget?.skills }}</span>

                <button mat-button matStepperNext i18n [disabled]="budget?.skills < 0">Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="advantagesControl" [editable]="true">
        <ng-template matStepLabel i18n>Advantages & Disadvantages</ng-template>
        <ng-container *ngIf="budget && stepperIndex >= 5">
            <js-advantages [factor]="1" [formControl]="advantagesControl" [preset]="settingsControl.value?.preset" [(pointsAvailable)]="budget.talents"></js-advantages>

            <div class="sub">
                <button mat-button matStepperPrevious i18n>Previous</button>

                <span class="balance" i18n>Available: {{ budget?.talents }}</span>

                <button mat-button matStepperNext i18n [disabled]="budget?.talents < 0">Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="talentsControl" [editable]="true">
        <ng-template matStepLabel i18n>Talents</ng-template>
        <ng-container *ngIf="budget && stepperIndex >= 6">
            <js-talents [factor]="1" [formControl]="talentsControl" [preset]="settingsControl.value?.preset" [(pointsAvailable)]="budget.talents"></js-talents>

            <div class="sub">
                <button mat-button matStepperPrevious i18n>Previous</button>

                <span class="points-available" i18n>Available: {{ budget?.talents }}</span>

                <button mat-button (click)="create()" [disabled]="budget?.talents < 0" i18n>Create</button>
            </div>
        </ng-container>
    </mat-step>
</mat-horizontal-stepper>
