<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" [selectedIndex]="stepperIndex" (selectionChange)="stepperChange($event)">
    <mat-step [stepControl]="settingsControl" [editable]="false">
        <ng-template matStepLabel i18n>Settings</ng-template>

        <div class="step-content">
            <cs-settings #settings="csSettings" [formControl]="settingsControl"></cs-settings>
        </div>

        <div class="sub step-footer">
            <button mat-button matStepperNext (click)="settings.submit()" i18n>Next</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="backgroundControl" [editable]="false">
        <ng-template matStepLabel i18n>Background</ng-template>

        <div class="step-content">
            <cs-background #background="csBackground" [formControl]="backgroundControl" [preset]="settingsControl.value?.preset" (next)="nextAfterBackground()"></cs-background>
        </div>

        <div class="sub step-footer">
            <button mat-button matStepperPrevious i18n>Previous</button>
            <button mat-button matStepperNext (click)="background.submit()" i18n>Next</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="selectionsControl" [editable]="false">
        <ng-template matStepLabel i18n>Selections</ng-template>

        <div class="step-content">
            <cs-selection #selection="csSelection" [formControl]="selectionsControl" [steps]="selections"></cs-selection>
        </div>

        <div class="sub step-footer">
            <button mat-button matStepperPrevious i18n>Previous</button>
            <button mat-button matStepperNext (click)="selection.submit()" i18n>Next</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="attributesControl" [editable]="true">
        <ng-template matStepLabel i18n>Attributes</ng-template>

        <header class="step-header">
            <span>{{ character?.about?.name }}</span>

            <span>{{ spend }}/{{ character?.meta?.exp?.total}}</span>
        </header>

        <div class="step-content">
            <js-attributes [formControl]="attributesControl" [max]="character?.meta?.initValues?.attributes?.max" [budget]="character?.meta?.exp?.total - spend"></js-attributes>
        </div>

        <div class="sub step-footer">
            <button mat-button matStepperPrevious i18n>Previous</button>

            <span [class.valid]="spendForAttributes >= character?.meta?.initValues?.attributes?.min"
                [class.invalid]="spendForAttributes < character?.meta?.initValues?.attributes?.min"><sup>{{ spendForAttributes }}</sup>/<sub i18n>min {{ character?.meta?.initValues?.attributes?.min }}</sub></span>

            <button mat-button matStepperNext i18n [disabled]="attributesControl.invalid">Next</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="giftsControl" [formGroup]="giftsControl" [editable]="true">
        <ng-template matStepLabel i18n>Gifts</ng-template>
        <ng-container *ngIf="stepperIndex >= 4">
            <header class="step-header">
                <span>{{ character?.about?.name }}</span>

                <span>{{ spend }}/{{ character?.meta?.exp?.total}}</span>
            </header>

            <div class="step-content">
                <!-- <h2 i18n>Skills</h2>
                <js-skills formControlName="skills" [max]="character?.meta?.initValues?.skills?.max" [budget]="character?.meta?.exp?.total - spend"></js-skills>
                <h2 i18n>Gifts</h2> -->
                <js-gifts [formControl]="giftsControl" [preset]="settingsControl.value?.preset" [max]="character?.meta?.initValues?.gifts?.max" [budget]="character?.meta?.exp?.total - spend"></js-gifts>
            </div>

            <div class="sub step-footer">
                <button mat-button matStepperPrevious i18n>Previous</button>

                <span [class.valid]="spendForGifts >= character?.meta?.initValues?.gifts?.min"
                      [class.invalid]="spendForGifts < character?.meta?.initValues?.gifts?.min"><sup>{{ spendForGifts }}</sup>/<sub i18n>min {{ character?.meta?.initValues?.gifts?.min }}</sub></span>

                <button mat-button matStepperNext i18n [disabled]="giftsControl.invalid">Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="advantagesControl" [editable]="true">
        <ng-template matStepLabel i18n>Advantages & Disadvantages</ng-template>
        <ng-container *ngIf="stepperIndex >= 5">
            <header class="step-header">
                <span>{{ character?.about?.name }}</span>

                <span>{{ spend }}/{{ character?.meta?.exp?.total}}</span>
            </header>

            <div class="step-content">
                <js-advantages [formControl]="advantagesControl" [preset]="settingsControl.value?.preset" [budget]="character?.meta?.exp?.total - spend"></js-advantages>
            </div>

            <div class="sub step-footer">
                <button mat-button matStepperPrevious i18n>Previous</button>

                <span [class.valid]="advantagesControl.valid"
                      [class.invalid]="advantagesControl.invalid">{{ advantageBalance > 0 ? '+' : advantageBalance < 0 ? '-' : '' }}{{advantageBalanceAbsolute}}</span>

                <button mat-button matStepperNext i18n [disabled]="advantagesControl.invalid">Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="talentsControl" [editable]="true">
        <ng-template matStepLabel i18n>Talents</ng-template>
        <ng-container *ngIf="stepperIndex >= 6">
            <header class="step-header">
                <span>{{ character?.about?.name }}</span>

                <span>{{ spend }}/{{ character?.meta?.exp?.total}}</span>
            </header>

            <div class="step-content">
                <js-talents [formControl]="talentsControl" [preset]="settingsControl.value?.preset" [max]="character?.meta?.initValues?.talents?.max" [gifts]="character?.gifts" [budget]="character?.meta?.exp?.total - spend"></js-talents>
            </div>

            <div class="sub step-footer">
                <button mat-button matStepperPrevious i18n>Previous</button>

                <span [class.valid]="spendForTalents >= character?.meta?.initValues?.talents?.min"
                [class.invalid]="spendForTalents < character?.meta?.initValues?.talents?.min"><sup>{{ spendForTalents }}</sup>/<sub i18n>min {{ character?.meta?.initValues?.talents?.min }}</sub></span>

                <button mat-button (click)="create()" [disabled]="budget?.talents < 0" i18n>Create</button>
            </div>
        </ng-container>
    </mat-step>
</mat-horizontal-stepper>
