@import "../../../../theme";

.cs-sheet {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .mat-drawer-container {
        overflow: inherit;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        //min-height: 100vh;
    }

    .mat-drawer {
        position: relative;
    }

    .mat-drawer-content {
        flex-grow: 1;
        margin-left: 0 !important;
        height: auto;
    }

    .mat-sidenav {
        overflow-y: inherit;

        .mat-drawer-inner-container {
            position: sticky;
            width: auto;
            height: auto;
            top: 0;
        }
    }

    .mat-toolbar {
        position: sticky;
        top: 0;
        z-index: 100;

        > button:not(.mat-fab) {
            margin-right: 8px;

            &.mat-icon-button {
                margin-left: auto;
            }
        }

        .mat-fab {
            position: absolute;
            right: 96px;
            bottom: 0;
            transform: translateY(50%);
            z-index: 100;
        }

        @media print {
            display: none;
        }
    }

    .mat-nav-list {
        min-width: 200px;
    }



    .mat-tab-header {
        position: sticky;
        top: 64px;
        z-index: 100;
    }

    .sheet-wrapper {
        padding: 24px;
    }

    .js-general, .js-advantages, .js-attributes, .js-skills, .js-gifts, .js-talents {
        margin: 24px auto;
        max-width: 800px;

        button.mat-mini-fab {
            position: fixed;
            right: 96px;
            bottom: 80px;
            top: auto;
            transform: none;
        }
    }
}
