<dw-website-header>
    <button *ngIf="isMobile | async" class="char-toggle" mat-icon-button i18n-matTooltip matTooltip="Toggle Charakters" (click)="sidenavToggle.emit()"><mat-icon>people</mat-icon></button>
</dw-website-header>

<mat-sidenav-container>
    <mat-sidenav [mode]="(isDesktop | async) ? 'side' : 'over'" [opened]="(sidenavOpen | async) !== false" (closed)="sidenavToggle.emit(false)" #sidenav="matSidenav">
        <mat-nav-list>
            <ng-container *ngFor="let char of chars | async">
                <mat-list-item *ngIf="char.about?.name" [routerLink]="[ '/dcm', char._id ]" (click)="sidenavToggle.emit(false)">
                    {{ char.about.name}} ({{ char.meta.exp.spend }}/{{ char.meta.exp.total }})
                    <span *ngIf="char._changed" class="changed">*</span>
                </mat-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <h1 *ngIf="char | async as _char">{{ _char.about.name }} ({{ _char.meta.exp.spend }}/{{ _char.meta.exp.total }})</h1>
            <button mat-icon-button class="dcm-menu" [matMenuTriggerFor]="mainMenu"><mat-icon>more_vert</mat-icon></button>
        </mat-toolbar>
        <div class="sheet-wrapper">
            <mat-tab-group *ngIf="char | async as _char">
                <mat-tab i18n-label label="General">
                    <ng-template matTabContent>
                        <js-general [formControl]="generalControl"></js-general>

                        <div class="experience">
                            <h3 i18n>Experience Points</h3>

                            <mat-form-field>
                                <input matInput type="number" [ngModel]="_char.meta.exp.spend" i18n-placeholder placeholder="Spend" readonly />
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput type="number" [ngModel]="_char.meta.exp.total" i18n-placeholder placeholder="Total" readonly />
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput type="number" [formControl]="addExpControl" i18n-placeholder placeholder="Add Exp" />
                            </mat-form-field>

                            <button mat-icon-button [disabled]="addExpControl.invalid" (click)="addExp(_char)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab i18n-label label="Armor">
                    <ng-template matTabContent>
                        <js-armor [formControl]="armorControl"></js-armor>
                    </ng-template>
                </mat-tab>

                <mat-tab i18n-label label="Advantages/Disadvantages">
                    <ng-template matTabContent>
                        <js-advantages mode="button" [preset]="_char.meta.preset" [ngModel]="_char" [budget]="budget | async" (select)="selectAdvantage($event, _char)"></js-advantages>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Attributes">
                    <ng-template matTabContent>
                        <js-attributes mode="button" [ngModel]="_char.attributes" [budget]="budget | async" (increase)="increaseAttribute($event, _char)"></js-attributes>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Skills">
                    <ng-template matTabContent>
                        <js-skills mode="button" [ngModel]="_char.skills" [budget]="budget | async" (increase)="increaseSkill($event, _char)"></js-skills>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Gifts">
                    <ng-template matTabContent>
                        <js-gifts [preset]="_char.meta.preset" mode="button" [ngModel]="_char.gifts" [budget]="budget | async" (increase)="increaseGift($event, _char)"></js-gifts>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Talents">
                    <ng-template matTabContent>
                        <js-talents [preset]="_char.meta.preset" mode="button" [ngModel]="_char.talents" [budget]="budget | async" [gifts]="_char.gifts" (increase)="increaseTalent($event, _char)"></js-talents>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Character Sheet">
                    <div *matTabContent [ngClass]="theme | async">
                        <js-sheet class="mat-typography" (update)="doUpdate($event)" [character]="_char"></js-sheet>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<dw-website-footer></dw-website-footer>

<mat-menu #mainMenu="matMenu" class="sheet-menu">
    <button mat-menu-item [matMenuTriggerFor]="createMenu">
        <mat-icon>person_add</mat-icon>
        <span i18n>New Character</span>
    </button>
    <button mat-menu-item for="import-char" [matMenuTriggerFor]="importMenu">
        <mat-icon>cloud_upload</mat-icon>
        <span i18n>Import Character</span>
    </button>
    <ng-container *ngIf="char | async as _char">
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="doStore(_char)">
            <mat-icon>save</mat-icon>
            <span i18n>Save Changes</span>
        </button>
        <button mat-menu-item (click)="doDiscard(_char)" [disabled]="!_char?._changed">
            <mat-icon>block</mat-icon>
            <span i18n>Discard Changes</span>
        </button>
        <button mat-menu-item (click)="doDelete(_char)">
            <mat-icon color="warn">delete_forever</mat-icon>
            <span i18n>Delete Character</span>
        </button>
        <button mat-menu-item (click)="export(_char)">
            <mat-icon>cloud_download</mat-icon>
            <span i18n>Export Character</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="themeMenu">
            <mat-icon>color_lens</mat-icon>
            <span i18n>Theme</span>
        </button>
        <a mat-menu-item *ngIf="char | async as c" [routerLink]="[ '..', 'print', c._id ]" target="_blank">
            <mat-icon>cast</mat-icon>
            <span i18n>Presentation Mode</span>
        </a>
        <a mat-menu-item *ngIf="char | async as c" [routerLink]="[ '..', 'print', c._id, { print: 1, close: 1 } ]" target="_blank">
            <mat-icon>print</mat-icon>
            <span i18n>Print</span>
        </a>
    </ng-container>
</mat-menu>

<mat-menu #createMenu="matMenu" class="sheet-menu">
    <button mat-menu-item (click)="openWizard('local')" i18n>Local</button>
    <button mat-menu-item (click)="openWizard('firebase')" [disabled]="!(firebaseAuth.user | async)" i18n>Server</button>
</mat-menu>

<mat-menu #importMenu="matMenu" class="sheet-menu">
    <label mat-menu-item for="import-local">
        <span i18n>Local</span>
        <input type="file" id="import-local" (change)="import($event, 'local')" />
    </label>
    <button mat-menu-item [disabled]="!(firebaseAuth.user | async)">
        <label for="import-server" i18n>Server</label>
        <input type="file" id="import-server" (change)="import($event, 'firebase')" [disabled]="!(firebaseAuth.user | async)" />
    </button>
</mat-menu>

<mat-menu #themeMenu="matMenu" class="sheet-menu">
    <button mat-menu-item (click)="setTheme('default')">Default</button>
    <button mat-menu-item (click)="setTheme('ancient')" class="ancient">Ancient</button>
</mat-menu>
