@import "../../../../theme";

.cs-sheet {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .mat-drawer-container {
        overflow: inherit;
        flex-grow: 1;
    }

    .mat-sidenav {
        overflow-y: inherit;

        .mat-drawer-inner-container {
            position: sticky;
            width: auto;
            height: auto;
            top: 64px;
        }
    }

    .mat-toolbar {
        position: sticky;
        top: 0;
        z-index: 100;

        > button.dcm-menu {
            margin-left: auto;
        }

        .mat-fab {
            position: absolute;
            right: 64px;
            bottom: 0;
            transform: translateY(50%);
            z-index: 100;
        }

        @media print {
            display: none;
        }
    }

    .mat-nav-list {
        min-width: 200px;
    }


    .mat-tab-header {
        position: sticky;
        top: 64px;
        z-index: 100;
    }

    .sheet-wrapper {
        padding: 24px;

        @media screen and (max-width: 800px) {
            padding: 8px;
        }
    }

    .js-general, .js-advantages, .js-attributes, .js-skills, .js-gifts, .js-talents {
        margin: 24px auto;
        max-width: 800px;

        button.mat-mini-fab {
            position: fixed;
            right: 64px;
            bottom: 80px;
            top: auto;
            transform: none;

            @media screen and (max-width: 800px) {
                right: 8px;
            }
        }
    }

    .experience {
        max-width: 800px;
        margin: 24px auto;

        display: grid;
        grid-template-columns: repeat(3, 110px) 46px;
        grid-gap: 8px;

        h3 {
            grid-column-start: 1;
            grid-column-end: 5;
        }

        input[type="number"] {
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

.sheet-menu {
    input[type="file"] {
        display: none;
    }
}
