<mat-sidenav-container>
    <mat-sidenav [mode]="'side'" [opened]="sidenavOpen">
        <mat-nav-list>
            <ng-container *ngFor="let char of chars | async">
                <mat-list-item *ngIf="char.about?.name" [routerLink]="[ '/', char._id ]">
                    {{ char.about.name}} ({{ char.meta.exp.spend }}/{{ char.meta.exp.total }})
                    <span *ngIf="char._changed" class="changed">*</span>
                </mat-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <h1 *ngIf="char | async as _char">{{ _char.about.name }} ({{ _char.meta.exp.spend }}/{{ _char.meta.exp.total }})</h1>
            <button mat-icon-button [matMenuTriggerFor]="mainMenu"><mat-icon>more_vert</mat-icon></button>
        </mat-toolbar>
        <div>
            <button mat-fab (click)="openWizard()" matTooltip="New Character" i18n-matTooltip><mat-icon>person_add</mat-icon></button>

            <mat-tab-group *ngIf="char | async as _char">
                <mat-tab i18n-label label="General">
                    <ng-template matTabContent>
                        <js-general [formControl]="generalControl"></js-general>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Attributes">
                    <ng-template matTabContent>
                        <js-attributes [factor]="4" mode="button" [formControl]="attributesControl" [(pointsAvailable)]="exp"></js-attributes>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Skills">
                    <ng-template matTabContent>
                        <js-skills [factor]="2" mode="button" [formControl]="skillsControl" [(pointsAvailable)]="exp"></js-skills>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Gifts">
                    <ng-template matTabContent>
                        <js-gifts [preset]="_char.meta.preset" [factor]="2" mode="button" [formControl]="giftsControl" [(pointsAvailable)]="exp"></js-gifts>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Talents">
                    <ng-template matTabContent>
                        <js-talents [preset]="_char.meta.preset" mode="button" [formControl]="talentsControl" [(pointsAvailable)]="exp"></js-talents>
                    </ng-template>
                </mat-tab>
                <mat-tab i18n-label label="Character Sheet">
                    <div *matTabContent [ngClass]="theme | async">
                        <js-sheet class="mat-typography" (update)="doUpdate($event)" [character]="_char"></js-sheet>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #mainMenu="matMenu">
    <button mat-menu-item (click)="openWizard()">
        <mat-icon>person_add</mat-icon>
        <span i18n>New Character</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="doStore()" [disabled]="!(char | async)?._changed">
        <mat-icon>save</mat-icon>
        <span i18n>Save Changes</span>
    </button>
    <button mat-menu-item (click)="doDiscard()" [disabled]="!(char | async)?._changed">
        <mat-icon>block</mat-icon>
        <span i18n>Discard Changes</span>
    </button>
    <button mat-menu-item (click)="doDelete()" [disabled]="!(char | async)">
        <mat-icon color="error">delete_forever</mat-icon>
        <span i18n>Delete Character</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item [matMenuTriggerFor]="themeMenu">
        <mat-icon>color_lens</mat-icon>
        <span i18n>Theme</span>
    </button>
    <a mat-menu-item *ngIf="char | async as c" [routerLink]="[ '/print', c._id, { print: 1, close: 1 } ]" target="_blank">
        <mat-icon>print</mat-icon>
        <span i18n>Print</span>
    </a>
</mat-menu>

<mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="setTheme('default')">Default</button>
    <button mat-menu-item (click)="setTheme('ancient')" class="ancient">Ancient</button>
</mat-menu>
