@import '~@angular/material/theming';

.cs-sheet {
    display: block;
    border: 1px solid transparent;

    .mat-drawer-container, .mat-drawer-content {
        overflow: inherit;
        min-height: 100vh;
    }

    .mat-sidenav {
        overflow-y: inherit;

        .mat-drawer-inner-container {
            position: sticky;
            width: auto;
            height: auto;
            top: 0;
        }
    }

    .mat-toolbar {
        position: sticky;
        top: 0;
        z-index: 100;

        > button {
            margin-right: 8px;

            &.mat-icon-button {
                margin-left: auto;
            }
        }

        @media print {
            display: none;
        }
    }

    .mat-nav-list {
        min-width: 200px;
    }


    .mat-fab {
        position: fixed;
        right: 24px;
        bottom: 24px;
        z-index: 100;

        @media print {
            display: none;
        }
    }

    .js-attributes, .js-skills, .js-gifts, .js-talents {
        margin: 24px auto;
        max-width: 800px;
    }
}
