.cs-wizard-dialog {

    .mat-stepper-horizontal {
        display: flex;
        flex-direction: row;

        .mat-horizontal-stepper-header-container {
            flex-direction: column;
            align-items: stretch;
        }

        .mat-stepper-horizontal-line {
            display: none;
        }

        .mat-horizontal-stepper-header {
            padding: 8px;
            height: auto;
        }

        .mat-horizontal-content-container {
            padding: 0 0 0 24px;
            min-width: 360px;

            display: flex;
            flex-direction: row;
        }

        .mat-horizontal-stepper-content {
            flex-grow: 1;
            min-width: 100%;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &[aria-expanded=false] {
                width: 0;
                min-width: 0;
                min-height: 0;
            }
        }
    }

    .sub {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .details {

        }

        button {
            margin: 8px 0 0 8px;

            &:first-of-type {
                margin-left: auto;
            }
        }
    }
}
