.cs-wizard-dialog {
    .sub {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .details {

        }

        button {
            margin: 8px 0 0 8px;

            &:first-of-type {
                margin-left: auto;
            }
        }
    }
}
