<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" [selectedIndex]="stepperIndex" (selectionChange)="stepperChange($event)">
    <mat-step [stepControl]="settingsControl" [editable]="false">
        <ng-template matStepLabel i18n>Settings</ng-template>
        <ng-container *ngIf="stepperIndex >= 0">
            <cs-settings #settings="csSettings" [formControl]="settingsControl"></cs-settings>

            <div class="sub">
                <button mat-button matStepperNext (click)="settings.submit()" i18n>Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="backgroundControl" [editable]="false">
        <ng-template matStepLabel i18n>Background</ng-template>
        <ng-container *ngIf="stepperIndex >= 1">
            <cs-background #background="csBackground" [formControl]="backgroundControl" [preset]="settingsControl.value?.preset" (next)="nextAfterBackground()"></cs-background>

            <div class="sub">
                <button mat-button matStepperNext (click)="background.submit()" i18n>Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="selectionsControl" [editable]="false">
        <ng-template matStepLabel i18n>Selections</ng-template>
        <ng-container *ngIf="stepperIndex >= 2">
            <cs-selection #selection="csSelection" [formControl]="selectionsControl" [steps]="selections"></cs-selection>

            <div class="sub">
                <button mat-button matStepperNext (click)="selection.submit()" i18n>Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="advantagesControl" [editable]="false">
        <ng-template matStepLabel i18n>Advantages/Disadvantages</ng-template>
        <ng-container *ngIf="stepperIndex >= 3">
            <js-advantages [formControl]="advantagesControl" [preset]="settingsControl.value?.preset" [(pointsAvailable)]="advantagesCosts"></js-advantages>

            <div class="sub">
                <span class="balance" i18n>Balance: {{ advantagesCosts }}</span>

                <button mat-button matStepperNext i18n [disabled]="advantagesCosts < 0">Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="attributesControl" [editable]="false">
        <ng-template matStepLabel i18n>Attributes</ng-template>
        <ng-container *ngIf="budget && stepperIndex >= 4">
            <js-attributes [formControl]="attributesControl" [(pointsAvailable)]="budget.attributes"></js-attributes>

            <div class="sub">
                <span class="points-available" i18n>Available: {{ budget?.attributes }}</span>

                <button mat-button matStepperNext i18n>Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="skillsGiftsControl" [formGroup]="skillsGiftsControl" [editable]="false">
        <ng-template matStepLabel i18n>Skills &amp; Gifts</ng-template>
        <ng-container *ngIf="budget && stepperIndex >= 5">
            <h2 i18n>Skills</h2>
            <js-skills formControlName="skills" [(pointsAvailable)]="budget.skills"></js-skills>
            <h2 i18n>Gifts</h2>
            <js-gifts formControlName="gifts" [preset]="settingsControl.value?.preset" [(pointsAvailable)]="budget.skills"></js-gifts>

            <div class="sub">
                <span class="points-available" i18n>Available: {{ budget?.skills }}</span>

                <button mat-button matStepperNext i18n>Next</button>
            </div>
        </ng-container>
    </mat-step>

    <mat-step [stepControl]="talentsControl" [editable]="false">
        <ng-template matStepLabel i18n>Talents</ng-template>
        <ng-container *ngIf="budget && stepperIndex >= 6">
            <js-talents [formControl]="talentsControl" [preset]="settingsControl.value?.preset" [(pointsAvailable)]="budget.talents"></js-talents>

            <div class="sub">
                <span class="points-available" i18n>Available: {{ budget?.talents }}</span>

                <button mat-button (click)="create()" [disabled]="budget?.talents < 0" i18n>Create</button>
            </div>
        </ng-container>
    </mat-step>
</mat-horizontal-stepper>
